name: "Generate CI"

on:
  schedule:
    - cron: "0 * * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: self-hosted

    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          clean: true

      - name: Create databases
        run: nix run

      - uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: Update databases ${{ github.event.repository.updated_at}}
          commit_user_email: buckle_scouts3y@icloud.com
          commit_author: Xinux Manager <buckle_scouts3y@icloud.com>
